aiohttp
beautifulsoup4
bidict
chromadb==0.6.3
dspy==2.5.43
dspy-ai
langchain-core==0.3.37
langchain-text-splitters==0.3.6
litellm==1.53.7
pydantic>=1.8.0
python-dotenv
scikit-learn==1.6.1
sentence-transformers==3.4.1
anyio>=3.0.0
pypinyin