chromadb==0.5.3
dspy-ai==2.4.9 
langchain-text-splitters==0.2.1
nltk==3.8.1
scikit-learn==1.5.1
sentence-transformers==3.0.1
trafilatura==1.10.0
python-dotenv==1.0.1
bidict==0.23.1
pypinyin==0.54.0
posthog==3.25.0